.navbar{
    background-color: #CD9C20;
    width: 40%;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.me-auto{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav-link{
    margin-left: 35px;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.nav-link:hover{
    font-weight: bold !important;
    border-bottom: 1px solid #ffffff !important;
}
